@import './main.css';

/* * {
    border: 1px solid black;
} */
#right_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-left: 1rem;
    float: right;
    flex-grow: 1;
    height: 100%;
}

button.category-button {
    min-width: 2rem;
    background-color: white; /* button background */
    color: red; /* label colour */
    border: none; /* 2px blue line border */
    padding: 10px 20px;
    border-radius: 10px; /* rounded corner style */
}

button.category-button:disabled {
    color: black;
}

#dice_container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.dice {
    width: 17%;
    border: none;
}

#wrapper {
    margin: auto;
    display: block;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

ul.navigation li a {
    font-size: medium;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
banner1:hover,
banner2:hover {
    color: green;
}

#title {
    position: center;
    font-size: xx-large;
}

#roll_button {
    width: 80%;
}

body button:hover {
    cursor: pointer;
}

#board {
    display: flex;
    background-color: rgb(7, 70, 7);
    border: solid 1rem white;
    border-radius: 1rem;
    padding: 2rem;
    align-content: center;
    box-shadow: black 7px;
}

table {
    display: table;
    border: 4px solid black;
    background-color: white;
    /* margin: 5px; */
    padding: 0;
    /* table-layout: fixed; */
    box-sizing: content-box;
    align-content: center;
    float: left;
    object-fit: fill;
    width: 40%;
    margin-right: 1rem;
}

table th,
table td {
    text-align: center;
}

table th {
    font-size: 0.65em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.separating_line {
    border-top: 1px #000 solid; /* top border only */
}

table caption {
    font-size: 1.5em;
    /* margin: .5em 0 .75em; */
    color: white;
}

/* #cube .front {
    transform: 
      translateZ(100px);
  }
  
  #cube .back {
    transform: 
      rotateX(-180deg)
      translateZ(100px);
  }
  
  #cube .right {
    transform:
      rotateY(90deg)
      translateZ(100px);
  }
  
  #cube .left {
    transform:
      rotateY(-90deg)
      translateZ(100px);
  }
  
  #cube .top {
    transform:
      rotateX(90deg)
      translateZ(100px);
  }
  
  #cube .bottom {
    transform:
      rotateX(-90deg)
      translateZ(100px);
  }
  
  .container {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto 40px;
    border: 1px solid #FFF;
    
    perspective: 1000px;
    perspective-origin: 50% 100%;
  }
  
  #cube {
    width: 100%;
    height: 100%;
    
    position: absolute;
    
    transform-style: preserve-3d;
    
    transition: transform 6s;
  }
  
  #cube:hover {
    cursor: pointer;
  }
  
  #cube div {
    background: hsla(0, 85%, 50%, 0.8);
    display: block;
    position: absolute;
    width: 200px;
    height: 100px;
    border: 2px solid #ab1a1a;
    
    margin: 0 auto;  
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 500%;
    text-align: center;
    padding: 50px 0;
  }
  
  .dot {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 15px;  
  }
  
  .front .dot1 { top: 85px; left: 85px; }
  .back .dot1 { top: 45px; left: 45px; }
  .back .dot2 { top: 125px; left: 125px; }
  .right .dot1 { top: 45px; left: 45px; }
  .right .dot2 { top: 85px; left: 85px; }
  .right .dot3 { top: 125px; left: 125px; }
  .left .dot1 { top: 45px; left: 45px; }
  .left .dot2 { top: 45px; left: 125px; }
  .left .dot3 { top: 125px; left: 45px; }
  .left .dot4 { top: 125px; left: 125px; }
  .top .dot1 { top: 45px; left: 45px; }
  .top .dot2 { top: 45px; left: 125px; }
  .top .dot3 { top: 85px; left: 85px; }
  .top .dot4 { top: 125px; left: 45px; }
  .top .dot5 { top: 125px; left: 125px; }
  .bottom .dot1 { top: 45px; left: 45px; }
  .bottom .dot2 { top: 45px; left: 85px; }
  .bottom .dot3 { top: 45px; left: 125px; }
  .bottom .dot4 { top: 125px; left: 45px; }
  .bottom .dot5 { top: 125px; left: 85px; }
  .bottom .dot6 { top: 125px; left: 125px; }
  */
