@import './main.css';


h1, .code{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: beige;
}

.Players, .code{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    padding: 15px;
    text-align: left;
  }
tr:hover {background-color: #f5f5f5;}

table {
    border-collapse: collapse;
    width: 80%;
  }
  
table, th, td {
    border: 1px solid black;
  }

th {
    background-color: #4c82af;
    color: white;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

button{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;

}

.header {
    padding: 60px;
    text-align: center;
    background: #c0c4bf;
    text-color: black;
    font-size: 30px;
}


.container {
  height: 200px;
  position: relative;
  /* border: 3px solid green; */
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.1);
  }

button {
    transition-duration: 0.1s;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}