/*
    This file contains default styles that are imported into every page.
    This ensures we have consistent styling across the site and can reuse style rules.
    
    This style sheet should define things such as:
        - Font family
        - Default font size
        - Primary and secondary text colours
        - Large, medium and small font sizes (use 'rem' instead of 'px' for accessibility)
        - Default styling for buttons (bear in mind we may also need to apply this to <a> elements)
        - Default styling for text inputs
        - Default styling for page headings
        - A "wrapper" class that can be used to set the page width and add horizontal padding
          (see https://css-tricks.com/best-way-implement-wrapper-css/).
*/
/* Default styles that apply to all elements */

:root {
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-variant: normal;
}

html, body {
    height: 100%;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
} 
/*.title_container
{
    padding-bottom: 25px;
    border: 5px solid wheat;
    background: beige;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
*/
.title_container h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-family:  Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}
.content_container {
    
}
